h1 {
    font-family: 'Montserrat';
    text-align: center;
    color: black;
}

.s1 {
    background: url('../images/image1.jpg');
    background-size: cover;

    h1 {
        text-align: center;
    }

}

.s2 {
    background: url('../images/image2.jpg');
    background-size: cover;

    h1 {
        text-align: left;
        color: white;
        margin-left: 2em;
        font-size: 4rem;
    }
}

.s3 {
    background: url('../images/image3.jpg');
    background-size: cover;

    h1 {
        text-align: right;
        color: white;
        margin-left: 2em;
        font-size: 4rem;
    }
}

